<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<meta name="viewport"
	content="width=device-width,initial-scale=1.0 minimum-scale=1.0">

<title>Home</title>

<!-- Bootstrap core CSS -->
<link th:href="@{/css/homeCliente.css}" type="text/css" rel="stylesheet">
</head>

<body>
	<div class="page-container">

		<div th:replace="fragments/navCli :: navBarCli">
		
		</div>


		<div class="content">

			<div class="container">
				<div class="thickline"></div>
			</div>



			<nav class="breadcrumb container">
				<a class="breadcrumb-item" href="#">Home</a> <a
					class="breadcrumb-item" href="#">Laptops</a> <a
					class="breadcrumb-item" href="#">Slim laptops</a> <span
					class="breadcrumb-item active">Sony Vaio</span>
			</nav>

			<div class="container">


				<div class="row">
					<div class="col-6">
						<h3>Login</h3>
						<form>
							<div class="form-group row">
								<label for="inputEmail1" class="col-sm-2 col-form-label">Email</label>
								<div class="col-sm-10">
									<input type="email" class="form-control" id="inputEmail1"
										placeholder="Email">
								</div>
							</div>
							<div class="form-group row">
								<label for="inputPassword1" class="col-sm-2 col-form-label">Senha</label>
								<div class="col-sm-10">
									<input type="password" name="password" class="form-control"
										id="inputPassword1" placeholder="Password">
								</div>
							</div>

							<div class="form-group row">
								<div class="offset-sm-2 col-sm-10">
									<button type="submit" class="btn btn-primary">Sign in</button>
								</div>
							</div>
						</form>
					</div>

					<div class="col-6 ">
						<h3>Cadastrar</h3>
						<form th:action="@{/saveUser}" method="post"
							th:object="${cliente}" onsubmit="return checkEmailUnique(this);">
							<input type="hidden" th:field="*{id}">
							<div class="form-group row">
								<label for="inputNome2" class="col-sm-2 col-form-label">Nome</label>
								<div class="col-sm-10">
									<input type="text" th:field="*{nome}" class="form-control"
										id="inputNome2" placeholder="Nome"> <span
										th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"
										class="text-danger"></span>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="inputCpf3" class="col-sm-2 col-form-label">CPF</label>
								<div class="col-sm-10">
									<input type="text" th:field="*{cpf}" class="form-control"
										id="cpf" placeholder="CPF"> <span
										th:if="${#fields.hasErrors('cpf')}" th:errors="*{cpf}"
										class="text-danger"></span>
								</div>
							</div>
							
							<div class="form-group row">
								<label for="inputEmail3" class="col-sm-2 col-form-label">E-mail</label>
								<div class="col-sm-10">
									<input type="email" th:field="*{email}" class="form-control"
										id="email" placeholder="E-mail"> <span
										th:if="${#fields.hasErrors('email')}" th:errors="*{email}"
										class="text-danger"></span>
								</div>
							</div>
							<div class="form-group row">
								<label for="inputSenha3" class="col-sm-2 col-form-label">Senha</label>
								<div class="col-sm-10">
									<input type="password" th:field="*{senha}" class="form-control"
										id="inputSenha3" placeholder="Senha"> <span
										th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"
										class="text-danger"></span>
								</div>
							</div>

							<div class="form-group row">
								<div class="offset-sm-2 col-sm-10">
									<button type="submit" class="btn btn-primary">Criar
										conta</button>
								</div>
							</div>
						</form>
					</div>
				</div>

			</div>


		</div>

	</div>

	<div class="modal fade text-center" id="modalDialog">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title" id="modalTitle">Warning</h4>
					<button type="button" class="close" data-bs-dismiss="modal">&times;</button>
				</div>
				<div class="modal-body">
					<span id="modalBody"></span>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-danger"
						data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<footer class="bg-faded text-muted py-5 mt-5">
		<div class="container">
			<div class="row">
				<div class="col-sm-3">
					<h5>Information</h5>
					<ul class="list-unstyled">
						<li><a href="#">About Us</a></li>
						<li><a href="#">Delivery Information</a></li>
						<li><a href="#">Privacy Policy</a></li>
						<li><a href="#">Terms &amp; Conditions</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Customer Service</h5>
					<ul class="list-unstyled">
						<li><a href="#">Contact Us</a></li>
						<li><a href="#">Returns</a></li>
						<li><a href="#">Site Map</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>Extras</h5>
					<ul class="list-unstyled">
						<li><a href="#">Brands</a></li>
						<li><a href="#">Gift Certificates</a></li>
						<li><a href="#">Affiliate</a></li>
						<li><a href="#">Specials</a></li>
					</ul>
				</div>
				<div class="col-sm-3">
					<h5>My Account</h5>
					<ul class="list-unstyled">
						<li><a href="#">My Account</a></li>
						<li><a href="#">Order History</a></li>
						<li><a href="#">Wish List</a></li>
						<li><a href="#">Newsletter</a></li>
					</ul>
				</div>
			</div>
			<p class="float-right">
				<a href="#">Back to top</a>
			</p>
		</div>
	</footer>
	</div>



	<script>
    $('#product-tabs a').click(function (e) {
	  e.preventDefault()
	  $(this).tab('show')
	})
    </script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#buttonCancel").on("click", function() {
				window.location = "[[@{/users}]]";
			});
		});
				
		function checkEmailUnique(form){
			url = "[[@{/clientes/check_email}]]";
			userEmail = $("#email").val();
			userId = $("#id").val();
			csrfValue = $("input[name='_csrf']").val();
			
			params = {id: userId, email: userEmail, _csrf: csrfValue};
			
			$.post(url, params, function(response) {
				if (response == "OK"){
					form.submit();
				} else if(response == "Duplicated"){
					showModalDialog("Warning", "Usuário já existente com o email " + userEmail);
				} else {
					showModalDialog("Error", "Unknown response from server");
				}
			}).fail(function() {
					showModalDialog("Error", "Could not connect to the server");
			});
			
			return false;
		}
		
		function showModalDialog(title, message){
			var myModal = document.getElementById('#modalDialog')
			$("#modalTitle").text(title);
			$("#modalBody").text(message);
			$("#modalDialog").modal('show'); 
		}
		
	</script>


	<script type="text/javascript" th:src="@{webjars/jquery/jquery.min.js}"></script>
	<script type="text/javascript"
		th:src="@{webjars/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>
