<nav th:fragment="navBarAdm" class="sidebar close"></nav>

<div th:fragment="navBarCli">
	<!--BarraAcessibilidade-->
	<div id="top-nav" class="bg-light smaller-font-size text-muted">
		<nav class="navbar-expand-md container px-3">
			<button class="navbar-toggler navbar-toggler-right" type="button"
				data-toggle="collapse" data-target="#navbarsExampleDefault"
				aria-controls="navbarsExampleDefault" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link text-muted"
						href="#"><i class="la la-heart"></i> <span
							class="hidden-xs hidden-sm hidden-md">Favoritos</span></a></li>
					<li class="nav-item"><a class="nav-link text-muted" href="#"><i
							class="la la-shopping-cart"></i> <span
							class="hidden-xs hidden-sm hidden-md">Carrinho</span></a></li>
					<li class="nav-item"><a class="nav-link text-muted" href="#"><i
							class="la la-share"></i> <span
							class="hidden-xs hidden-sm hidden-md">Checkout</span></a></li>
				</ul>

				<ul class="navbar-nav float-right">
					<li class="nav-item dropdown float-right"><a
						class="nav-link dropdown-toggle text-muted" href="#"
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
							class="la la-dollar"></i>&ensp;pt-br</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div></li>

					<li class="nav-item dropdown float-right"><a
						class="nav-link dropdown-toggle text-muted" href=""
						data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><i
							class="la la-flag"></i>&ensp;EN</a>
						<div class="dropdown-menu" aria-labelledby="dropdown01">
							<a class="dropdown-item" href="#">Action</a> <a
								class="dropdown-item" href="#">Another action</a> <a
								class="dropdown-item" href="#">Something else here</a>
						</div></li>
				</ul>
			</div>
		</nav>
	</div>
	<!--FimBarraAcessibilidade-->
	<div th:if="${message != null}" class="alert alert-success text-center">
		[[${message}]]</div>
	<header class="container mt-5">

		<div class="row">

			<div class="col-md-3">
				<a th:href="@{/}" class="logo">
					<h1 class="text-dark">
						<img th:src="@{/image/logo_cupkat3.png}" /><span>cup<span
							class="text-secondary">kat</span></span>
					</h1> <small class="text-dark">Miaaaauu</small>
				</a>
			</div>

			<div class="col-md-5">

				<form class="">

					<div class="input-group input-group-lg mb-3" id="search-box">
						<input type="text" class="form-control default-font-size"
							placeholder="O quê procura?" aria-label="Search product">

						<select
							class="custom-select input-group-append form-control-lg no-border-x default-font-size">
							<option selected="">Categorias</option>
							<option value="1">One</option>
							<option value="2">Two</option>
							<option value="3">Three</option>
						</select>

						<div class="input-group-append">
							<button class="btn btn-primary" type="button">
								<i class="la la-search"></i>
							</button>
						</div>
					</div>
				</form>

			</div>

			<div class="col-md-4">

				<div class="dropdown float-right" id="mini-cart">
					<a class="btn btn-link dropdown-toggle bg-faded p-0 chevron-big"
						href="" id="dropdownMenuLink" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false"> <i
						class="la la-shopping-cart d-inline-block" style="font-size: 42px"><span
							class="cart-items">3</span></i>&ensp;
						<div class="d-inline-block text-dark">
							<span class="small d-block text-left">Carrinho</span><span
								class="font-weight-bold">R$ 3500.05</span>
						</div>
					</a>

					<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
						<a class="dropdown-item" href="">Action</a> <a
							class="dropdown-item" href="">Another action</a> <a
							class="dropdown-item" href="">Something else here</a>
					</div>
				</div>
				<form th:action="@{/logout}" method="post" th:hidden="true" name="logoutForm">
					<input type="submit"/>
				</form>
				<div class="dropdown float-right" id="mini-user">
				<i class="la la-user d-inline-block text-primary" style="font-size:42px"></i>&ensp;
				<div class="d-inline-block text-dark">
					<span class="small d-block text-left name" sec:authorize="isAnonymous()">Minha conta</span>
					<span class="small d-block text-left name" sec:authorize="isAuthenticated()" sec:authentication="principal.fullname"></span>
					<a class="btn btn-link dropdown-toggle bg-faded p-0 chevron-big" th:href="@{/cliente}"><span class="font-weight-bold" sec:authorize="isAnonymous()">Login/Cadastro</span></a>
					<a class="btn btn-link dropdown-toggle bg-faded p-0 chevron-big" id="logoutLink" href=""><span class="font-weight-bold" sec:authorize="isAuthenticated()">Logout</span></a>
				</div>
			</div>

			</div>

		</div>


	</header>
</div>