<!-- Coding by CodingLab | www.codinglabweb.com -->
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/headAdm :: headAdm">
    </div>
    
    <title>Dashboard Sidebar Menu</title> 
</head>
<body>
    <nav th:replace="fragments/navBarAdm :: navBarAdm">
    </nav>
	<div>
		<h2 class="text">Gerenciamento Clientes</h2>
	</div>
	
    <section class="home">
        <div class="container-fluid">
            <div class="container-fluid">
                <div th:if="${message != null}" class="alert alert-success text-center">
                    [[${message}]]
                </div>
                <table class="content-table">
        
                    <thead>
                            <tr>
                                <th>CLIENTES</th>
                            </tr>
                            <tr class="">
                                <th scope="col">ID</th>
                                <th scope="col">Nome</th>
                                <th scope="col">Email</th>
                                <th scope="col">Status</th>
                                <th scope="col"></th>
                            </tr>
                        </tr>
                    </thead>
                    <tbody>
                        <tr th:each="cliente : ${listClientes}">
                            <td>[[${cliente.id}]]</td>
                            <td>[[${cliente.nome}]]</td>
                            <td>[[${cliente.email}]]</td>
                            <td>
                                <a th:if="${cliente.status == 1}">Ativo</a>
                                <a th:if="${cliente.status == 0}">Inativo</a>
                            </td>
                        <td>
                            <div class="text-center">
                                <div class="btn-group">
                                    <a class="delete btn btn-sm btn-danger" th:href="@{/adm/clientes/delete/{id}(id=${cliente.id})}">Excluir</a>
                                </div>
                            </div>
                        </td>
                        </tr>
                    </tbody>
              </table>
            </div>
        </div>
        <div>
        </div>
    </section>


	<div th:replace="fragments/scriptsAdm :: scripts">
    </div>
</body>
</html>