<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/headAdm :: headAdm">
	</div>
    <title>Atualizar Produtos</title> 

</head>
<body>
<nav th:replace="fragments/navBarAdm :: navBarAdm">
</nav>

<section class="home">
	<div>
		<h2 class="text">Gerenciamento Produtos</h2>
	</div>
	<form method="post"
        style="max-width: 700px; margin: 0 auto" th:action="@{/adm/saveProduto}" th:object="${produto}" class="mt-5">
			<div class="border border-secondary rounded p-5">
				<div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Nome</span>
                    <input type="text" class="form-control" th:field="*{nome}">
                  </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Custo</span>
                    <span class="input-group-text">R$ 0.00</span>
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Lucro</span>
                    <span class="input-group-text">R$ 0.00</span>
                    <input type="text" class="form-control" th:field="*{lucro}">
                </div>

                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Estoque</span>
                    <input type="number" class="form-control" th:field="*{estoque}">
                </div>

				<div class="form-group col-md-8">
					<label for="categoria" class="col-form-label">Cores</label>
					<div class="row-md-8">
						<th:block th:each="cor: ${listCor}">
							<input th:field="*{cores}" th:text="${cores}"
							th:value="${cores}" class="form-check-input m-2" type="checkbox">
							- <small>[[${cor.nome}]]</small>
						</th:block>
					</div>
				</div>

				<div class="form-group col-md-8">
					<label for="categoria" class="col-form-label">Tamanhos</label>
					<div class="row-md-8">
						<th:block th:each="t: ${listT}">
							<input th:field="*{tamanhos}" th:text="${tamanhos}"
							th:value="${tamanhos}" class="form-check-input m-2" type="checkbox">
							- <small>[[${t.nome}]]</small>
						</th:block>
					</div>
				</div>

				<div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Categoria</span>
                    <input type="number" class="form-control" th:field="*{categorias}">
                </div>
                
				<div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Modelo</span>
                    <input type="number" class="form-control" th:field="*{modelo}">
                </div>

                <div class="input-group">
                    <span class="input-group-text m-">Descrição</span>
                    <textarea class="form-control" th:field="*{descricao}" ></textarea>
                  </div>
                
				<div class="text-center">
					<input type="submit" value="Cadastrar" class="btn btn-primary m-3" />
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
				</div>
			</div>
		</form>
</section>

      
	<div th:replace="fragments/scriptsAdm :: scripts">
	</div>
</body>
</html>