<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/headAdm :: headAdm">
	</div>
    <title>Cadastro Produtos</title> 

</head>
<body>
<nav th:replace="fragments/navBarAdm :: navBarAdm">
</nav>

<section class="home">
	<div>
		<h2 class="text">Gerenciamento Produtos</h2>
	</div>
	<form method="post"
        style="max-width: 700px; margin: 0 auto" th:action="@{/adm/produtos/update/{id} (id=${produto.id}) }" th:object="${produto}" class="mt-5">
			<div class="border border-secondary rounded p-5">
				<div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Nome</span>
                    <input type="text" class="form-control" th:field="*{nome}">
                  </div>
                  
                 <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}" class="text-danger"></span>

                <div class="input-group mb-3">
                    <span class="input-group-text">Custo</span>
                    <span class="input-group-text">R$ 0.00</span>
                    <input type="text" class="form-control">
                </div>

                <div class="input-group mb-3">
                    <span class="input-group-text">Lucro</span>
                    <span class="input-group-text">R$ 0.00</span>
                    <input type="text" class="form-control" th:field="*{lucro}">
                </div>
                
                <span th:if="${#fields.hasErrors('lucro')}" th:errors="*{lucro}" class="text-danger"></span>

                <div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Estoque</span>
                    <input type="number" class="form-control" th:field="*{estoque}">
                </div>
                
                <span th:if="${#fields.hasErrors('estoque')}" th:errors="*{estoque}" class="text-danger"></span>

				
				<label for="categoria" class="col-form-label">Cores</label>	
					<th:block th:each="cor: ${listCor}">
						<input th:field="*{cores}"th:value="${cor.id}" class="form-check-input m-2" type="checkbox">
						- <small>[[${cor.nome}]]</small>
					</th:block>
					
				<span th:if="${#fields.hasErrors('cores')}" th:errors="*{cores}" class="text-danger"></span>

				<label for="categoria" class="col-form-label">Tamanhos</label>
					<th:block th:each="tamanho: ${listTamanho}">
						<input th:field="*{tamanhos}" th:value="${tamanho.id}" class="form-check-input m-2" type="checkbox">
						- <small>[[${tamanho.nome}]]</small>
					</th:block>
				
				<span th:if="${#fields.hasErrors('tamanhos')}" th:errors="*{tamanhos}" class="text-danger"></span>
				
				<label for="categoria" class="col-form-label">Categorias</label>
				<th:block th:each="categoria: ${listCategoria}">
					<input th:field="*{categorias}" th:value="${categoria.id}" class="form-check-input m-2" type="checkbox">
					- <small>[[${categoria.titulo}]]</small>
				</th:block>
	
				<span th:if="${#fields.hasErrors('categorias')}" th:errors="*{categorias}" class="text-danger"></span>
                
				<div class="input-group flex-nowrap mb-3">
                    <span class="input-group-text" id="addon-wrapping">Modelo</span>
                    <input type="number" class="form-control" th:field="*{modelo}">
                </div>
                
                <span th:if="${#fields.hasErrors('modelo')}" th:errors="*{modelo}" class="text-danger"></span>

                <div class="input-group">
                    <span class="input-group-text m-">Descrição</span>
                    <textarea class="form-control" th:field="*{descricao}" ></textarea>
                  </div>
                
				<div class="text-center">
					<input type="submit" value="Cadastrar" class="btn btn-primary m-3" />
					<input type="button" value="Cancel" class="btn btn-secondary" id="buttonCancel" />
				</div>
			</div>
		</form>
</section>

      
	<div th:replace="fragments/scriptsAdm :: scripts">
	</div>
</body>
</html>